@page {
  size: 6.125in 9.250in; /* width height */
  margin: 1.2in 0.8in;

  /* Display page number in footer */
  @bottom-center {
    content: "Page " counter(page) " of " counter(pages);
  }
}

/* Display chapter name in page header */
article h2 {
  string-set: chapter_title content();
}

@page :left {
  @top-left {
    font-size: 0.7rem;
    content: string(chapter_title);
  }
}

@page :right {
  @top-right {
    font-size: 0.7rem;
    content: string(chapter_title);
  }
}

/* Cover */
.cover {
  page: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cover h1 {
  margin-top: 1in;
  margin-left: 1in;
  margin-right: 1in;
  color: #333;
  text-align: left;
  font-weight: 300;
  font-size: 3.4rem;
}

@page cover {
  margin: 0;

  @bottom-center {
    content: none;
  }
}

/* Blank pages */
.blank-page {
  page: blank;
  page-break-after: always;
}

@page blank {
  @bottom-center {
    content: none;
  }

  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

/* Table of contents (TOC) */
.table-of-contents {
  page: toc;
}

.table-of-contents ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  page-break-after: always;
}

.table-of-contents ul a {
  color: inherit;
  text-decoration: none;
}

.table-of-contents ul a::after {
  content: leader('.') target-counter(attr(href), page);
}

@page toc {
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }
}

/* Display links as footnotes */
article {
  counter-reset: footnote;
}

article a {
  text-decoration: underline;
  color: inherit;
}

article a::after {
  content: attr(href);
  float: footnote;
  font-size: 0.6rem;
  text-align: left;
  color: inherit;
}

/* Start new chapters on a new page */
article {
  page-break-after: always;
}

/* Avoid page break before subtitles */
article h3 {
  page-break-after: avoid;
}

/* Avoid breaking paragraphs */
article p {
  orphans: 2;
  widows: 3;
}
